---
layout: default
section_id: pages

skills_left:
- title: Web Design
  percent: 98
- title: Web Development
  percent: 92
skills_right:
- title: Branding
  percent: 94
- title: Print
  percent: 87

---

<div class="full light-grey centered-text tree">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">About</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="header-quote">
        <p>
          Open Source Fashion & Textile is an independent non-governmental body that exists to provide educational
          resources and tools based on free and open source technology to anyone within the fashion and textile
          industry.</p><p> An open source community fosters collaboration and makes it substantially easier for
          companies of
          varying sizes to pool together resources for important issues such as sustainability.
        </p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Who is behind OSFT?</h2>
        <p>
          OSFT primarily consists of volunteers with a passion to change the fashion industry for the better. <a
                href="/contact" rel="nofollow">Get to know us!</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class="member">
          <img src="{{site.url}}/{{member.avatar}}" alt="">
          <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
          <div class="member-info">
            <h4>{{member.name}}</h4>
            <p class="position">{{member.position}}</p>
            <ul class="socials">
              {% for social in member.socials %}
                <li><a href="{{social.url}}"><i class="fa fa-{{social.name}}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full light-grey">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Subscribe</h2>
        <p>Research, blog posts, and news. Never spam. We promise.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form medium-10 medium-centered columns">
      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="https://opensourceft.us14.list-manage.com/subscribe/post?u=4919fe503fd61f33c6ff2c35a&amp;id=16494781c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
              </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4919fe503fd61f33c6ff2c35a_16494781c4" tabindex="-1" value=""></div>
            <div class="optionalParent">
              <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/hXx3Rr" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>

</div>
<!--
<div class="full light-grey">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Our skills</h2>
        <p>We work to improve our skills</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills_left %}
            <li>
              <h4>{{skill.title}}<strong>{{skill.percent}}%</strong></h4>
              <p class="highlighted" data-percent="{{skill.percent}}"></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class='mod modBarGraph'>
        <ul class='bars'>
          <ul class='bars'>
            {% for skill in page.skills_right %}
              <li>
                <h4>{{skill.title}}<strong>{{skill.percent}}%</strong></h4>
                <p class="highlighted" data-percent="{{skill.percent}}"></p>
              </li>
            {% endfor %}
          </ul>
        </ul>
      </div>
    </div>
  </div>

</div>
-->
<!--
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Testimonials</h2>
        <p>We are happy to work with our clients and let thme happy</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_left %}
        <div class="quote wow slideInLeft" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="auhor">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_right %}
        <div class="quote reverse wow slideInRight" class="wow" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="auhor">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="full light-grey no-padding">
  <div class="two spacing"></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='clients'>
        {% for client in page.clients %}
          <div><a href="#"><img alt="" src="{{site.url}}/{{client.image}}"></a></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
-->
