---
layout: default
section_id: projects
projects_left:
- title: Kaoto
  link: https://www.kaoto.io
  image: images/kaoto-automation-integration.gif
  categories: Automation, Integration
  description: "Kaoto is an open source integration editor with a user-friendly drag and drop interface. Use it to automate common tasks in your day-to-day ecommerce workflow."

projects_right:
- title: Spoolbox
  link: https://www.spoolbox.io
  categories: Retail, Manufacturing
  description: "Spoolbox is our open source platform for ecommerce that puts sustainability first. Understand how sustainable your decisions are and share it with your customers"

---

<div class="full light-grey">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">Projects</h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 medium-centered columns">
        <div class="header-quote">
          <p>OSFT open source projects for the fashion and textile industry.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for project in page.projects_left %}
          <div class="project-wrapper">
            <a href="{{project.link}}" class="project" target="_blank" rel="nofollow">
              <img src="{{site.url}}/{{project.image}}" alt="">
              <div class="info">
                <h3>{{project.title}}</h3>
              </div>
            </a>
              <div class="info">
                <p>{{project.description}}</p>
                <a href="{{project.link}}" class="project" target="_blank" rel="nofollow">
                <p>{{project.categories}}</p>
                </a>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for project in page.projects_right %}
        <div class="project-wrapper">
          <a href="{{project.link}}" class="project" target="_blank" rel="nofollow">
            <img src="{{site.url}}/{{project.image}}" alt="">
            <div class="info">
              <h3>{{project.title}}</h3>
            </div>
          </a>
          <div class="info">
            <p>{{project.description}}</p>
            <a href="{{project.link}}" class="project" target="_blank" rel="nofollow">
              <p>{{project.categories}}</p>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="spacing"></div>
</div>
