<div class="full no-padding footer brown centered-text">
  <div class="four spacing"></div>
  <div class="row">
    <div class="small-12 columns">
      {% if site.data.social %}
      {% include social.html %}
      {% endif %}

      {% if site.footer.copyright_text %}
      <p>{{ site.footer.copyright_text }}</p>
      <p>All rights reserved.</p>
      {% endif %}

      <div class="four spacing"></div>
      <p class="back-to-top"><a href="#"><i class="fa fa-chevron-up"></i>Back to top</a></p>
    </div>
  </div>
  <div class="spacing"></div>
</div>

<script src="{{ "/js/jquery/dist/jquery.min.js" | relative_url }}"></script>
<!--<script src="{{ "/js/jquery/jquery-3.6.0.min.js" | relative_url }}"></script>-->
<script src="{{ "/js/foundation/js/foundation.min.js" | relative_url }}"></script>
<script src="{{ "/js/jquery.superslides.min.js" | relative_url }}"></script>
<script src="{{ "/js/slick.min.js" | relative_url }}"></script>
<script src="{{ "/js/wow.min.js" | relative_url }}"></script>
<script src="{{ "/js/jquery.validate.js" | relative_url }}"></script>
<script src="{{ "/js/countto/jquery.countTo.js" | relative_url }}"></script>
<script src="{{ "/js/appear/jquery.appear.js" | relative_url }}"></script>
<script src="{{ "/js/app.js" | relative_url }}"></script>
