<div class="call">
  <!-- Begin Mailchimp Signup Form -->

  <div id="mc_embed_signup">
    <form action="https://spoolbox.us7.list-manage.com/subscribe/post?u=871c25f5e6e64d7c20422cfe4&amp;id=54202e9780"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank" novalidate>
      <div id="mc_embed_signup_scroll call">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_871c25f5e6e64d7c20422cfe4_54202e9780" tabindex="-1" value="">
        </div>
        <br/>
        <div class="clear call-box-bottom">
          <input type="submit" value="Join the Waitlist" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </form>
  </div>
</div>
