/*RESOURCES*/

a.resource-extra-link {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  color: #333;
  border-radius: 4px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 40px;
  margin: 0 3px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;

  &:hover {
    background-color: $color-brand;
    color: #fff;
  }
}

.button {
  &.button-learn-more {
    padding: 8px 40px;
  }

  &:hover {
    color: #fff;
  }
}

