
.font-cedarville, .font-cedarville h1, .font-cedarville h2, .font-cedarville h3, .font-cedarville h4, .font-cedarville h5, .font-cedarville p {
  font-family: 'Cedarville Cursive', cursive;
}

.font-lato, .font-lato h3 {
  font-family: 'Lato', sans-serif;
}

.font-quando, .font-quando h5, .font-quando h4, .font-quando h3, .font-quando h2, .font-quando h1, .font-quando p {
  font-family: 'Quando', serif;
}

.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.logo.logo-width-1 a img {
  min-width: 350px;
}

.logo.logo-width-1 {
  margin-right: 123px;
  margin-left: -30px;
  margin-top: -15px;
}

.mc__alert {
  color: $color-grey-2 !important;
  font-family: $font-text !important;
  margin: auto 15px;
}

.subscribe-text {
  color: $color-brand-dark;
  font-family: $font-heading-italicized;
  font-size: 2.5em;
  margin-left: 0.4em;
}

a.tooltippy {
  sup {
    color: $color-grey-4;
    font-size: initial;
    margin-left: 4px;
  }
}

