.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.logo.logo-width-1 a img {
  min-width: 350px;
}

.logo.logo-width-1 {
  margin-right: 123px;
  margin-left: -30px;
  margin-top: -15px;
}

.mc__alert {
  color: $color-grey-2 !important;
  font-family: $font-text !important;
  margin: auto 15px;
}

